.main{
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    margin: 20px;
    max-height: 100vh;
    width: 100%;
}

.chat-list-main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100vh;
    overflow:scroll;
    width: 35%;
}

.search-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid black;
    width: 300px;
}

input{
    width: 200px;  
    border: none; 
}

.chat-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 400px;
    align-items: flex-start;
    cursor: pointer;
}

.chat-card-info{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    margin-left: 5px;
    cursor: pointer;
}

.chat-card img{
    height: 25px;
    width: 25px;
}

.chat-window-main{
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

.chat-window-header{
    width: 100%;
    height: 15vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.chat-window-header img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.chat-window-header label{
    margin-left: 20px;
}

.chat-window-area{
    width: 100%;
    background-color: #f1f3f6;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chat-window-area-msg-user{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
    background-color: blue;
    border-bottom-left-radius: 25px;
}

.chat-window-area-msg-bot{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 50px;
    background-color: white;
    border-bottom-right-radius: 25px;
}

.chat-window-type-msg{
    width: 100%;
    background-color: #fff;
    height: 10vh;
}

.chat-window-type-msg input{
    width: 100%;
    border: none;
    font-size: 15px;
}
